<ion-header translucent>
  <ion-toolbar>
    <ion-title>Bem Vindo, {{nameLogged}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-searchbar placeholder="Busque por produtos aqui..." [(ngModel)]="searchProducts" (ionInput)=filterProducts($event)
      clearInput>
    </ion-searchbar>
    <ion-list-header>
      Todos os produtos
    </ion-list-header>
    <div *ngIf="devs">
      <ion-item *ngFor="let i of devs" no-lines>
        <ion-avatar slot="start">
          <img [src]="i.linkImage" alt="image of i.username">
        </ion-avatar>
        <ion-label>
          <h2>{{i.username}}</h2>
          <p>{{i.office}}</p>
        </ion-label>
        <ion-icon (click)="presentActionSheet(i.id_user, i.username)" slot="end" name="menu-outline"></ion-icon>
      </ion-item>
    </div>
    <ion-item *ngIf="!devs">
      <ion-label>Sem produtos no momento</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-tab-button tab="create">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>
  </ion-fab-button>
</ion-fab>