<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="content" [fullscreen]="true">
  <form>
    <ion-item class="item">
      <ion-input required [(ngModel)]="register.name" name="name" placeholder="Nome do produto"></ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-input required [(ngModel)]="register.category" name="category" placeholder="Categoria"></ion-input>
    </ion-item>
    <ion-item *ngIf="!id" class="item">
      <ion-input required [(ngModel)]="register.value" name="value" placeholder="Valor"></ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-input required [(ngModel)]="register.linkImage" name="image" placeholder="Link da imagem"></ion-input>
    </ion-item>
    <ion-item (click)="registerForm()" button class="button" expand="block" color="primary">{{title}}</ion-item>
  </form>
</ion-content>