<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="information">
            <ion-icon name="information-outline"></ion-icon>
            <ion-label>Informações</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="config">
            <ion-icon name="cog-outline"></ion-icon>
            <ion-label>Configurações</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>